@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Grechen+Fuemen&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prociono&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading__error {
  display: flex;
  flex-direction: column;
  place-content: center;
  min-height: 75vh;
  gap: 30px;
  font-family: "DynaPuff", sans-serif;
  max-width: fit-content;
}

.main__body {
  display: flex;
  margin: 25px;
}


.movie__detail{

}

.movie__detail img {
  max-width: 12rem;
  border-radius: .5rem;
}

.detail__info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.detail {
  min-height: 45vh;
  padding: 10px;
  box-shadow: 1px 1px 10px black;
  border-radius: .5rem
}

.starRating {
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 10px 0;
  background-color: rgb(44, 44, 71); 
  color: white;
  width: 35rem
}